body {
  background-color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  margin: 0%;
}
.topbar {
  background-color: #2D2D2B;
  max-width: 100%;
  max-height: 100%;
  position: sticky;
  margin: 0%;
}


.title {
  font-family: 'Barlow', sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

a {
  text-decoration: none;
  color: black;
}

/* NAVBAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: rgba(247, 247, 247, 1);
  font-size: 10px;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
}

li {
  display: inline-block;
  text-align: center;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  font-size: 2em;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
  opacity: 90%;
  color: black;
}

.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  li a {
    display: none;
  }
  .icon {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .responsive li {
    display: block;
    text-align: center;
  }
  .responsive li a {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  li a {
    display: none;
  }
  .icon {
    display: block;
  }

  .responsive li {
    display: block;
    text-align: center;
  }
  .responsive li a {
    display: block;
  }
}

/* PARALLAX EFFECT */

/* for the first image */
.parallax1 {
  background-image: url("img1p.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* for the second image */
.parallax {
  background-image: url("img2p.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ABOUT ME CONTAINER */

.pictures {
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: rgba(247, 247, 247, 1);
  padding: 0;
  margin: 0;
}

.right {
  float: right;
  margin-right: 2%;
  background-color: transparent;
  margin-bottom: 2%;
}

.left {
  float: left;
  margin-left: 5%;
  background-color: transparent;
  margin-bottom: 2%;
}

.log {
  margin-top: 2%;
}

img {
  width:130%;
}

.text {
  width: 45%;
}

.comingsoon {
  text-align: center;
  font-weight: 300;
  font-size: 350%;
  margin-top: 15%;
  margin-bottom: 15%;
}

@media screen and (max-width: 800px) {
  .left, .right{
    width: 45%;
    margin: 1%;
  }
  .text {
    float: none;
    margin: 1%;
    width: 100%;
  }
  .log {
    float: left;
    width: 35vw;
    height: 18%;
    margin-right: 2%;
    margin-bottom: 8%;
  }
  img  {
    width: 100%;
    margin-bottom: 5%;
  }

  .qRightImg {
    float: left;
    margin-top: 25%;
    margin-bottom: 35%;
  }
  .buttonResp {
    margin-left: 40%;
    margin-bottom: 5%;
  }
  .buttonResp2 {
    margin-left: 30%;
    margin-bottom: 5%;
  }
  .pictures {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .buttonResp, .buttonResp2 {
    margin-left: 0;
  }

  .log {
    float: left;
    width: 35vw;
    height: 18%;
    margin-right: 2%;
    margin-bottom: 0%;
  }
}

@media screen and (max-width: 350px) {
  img {
    display: none;
    width: 0%;
    height: 0%;
  }
  .log {
    width: 0%;
    height: 0%;
  }
  li {
    display: block;
  }
  li a {
    display: block;
  }
}

/* ABOUT ME TEXT */

.aboutme {
  font-family: 'Barlow', sans-serif;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 60px;
  font-weight: 100;
}

.aboutmetext {
  font-size: 1.2em;
  line-height: 35px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  background-color: transparent;
}

.learnmore {
  border-radius: 50%;
  border-color: black;
  background-color: transparent;
  display: inline-block;
  color: black; /* text color */
  font-size: 1em;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  border-radius: 50px; /* rounded corners */
  padding: 15px 25px; /* space around text */
  cursor: pointer;
}

#hifzTips {
  background-color: white;
  /* margin-bottom: -7%; */
}

#quran {
  background-color: rgba(247, 247, 247, 1);
}

#quranQuizzes {
  background-color: white;
  /* margin-bottom: -10%; */
}

#islamicStudies {
  background-color: white;
}

/* CONTACT AREA */

#contact {
  margin: 5%;
  margin-bottom: 2%;
  margin-top: 0%;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  background-color: silver;
}

.contactinfo {
  font-family: 'Barlow', sans-serif;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  background-color: silver;
}

.contactForm {
  width: 49%;
  background-color: lightgrey;
  height: 110%;
  float: left;
  padding: 3%;
  padding-top: 2%;
  padding-right: 0%;
  margin: 0;
}

#ourEmail {
  font-size: 150%;
  font-weight: 400;
}

.imgContact {
  float: left;
  width: 35%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .contactPic {
    display: hidden;
    width: 0%;
    height: 0%;
  }
  .contactPage {
    display: block;
  }
  .contactForm {
    width: 100%;
    height: auto;
  }
}

.contactPage {
  display: inline-block;
}

/* FOOTER AREA */

.footer {
  background-color: rgba(247, 247, 247, 1);
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
}

/* Scroll back to top */

#myBtn {
  /* display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(247, 247, 247, 1);
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
  float: right;
  font-weight: 100;
}

#myBtn:hover {
  background-color: white; /* Add a dark-grey background on hover */
}

.titleHeader {
  margin-top: 0%;
}

.quranImg {
  width: 90%;
  margin-left: 2%;
  margin-right: 2%;
}
